
/*hinzufügen formular*/
/*adding form*/
.form-horizontal {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}

.form-control {
    height:26px;
}

.actionLink {
    text-decoration: none !important;
    color: #187BCD !important;
}

.actionGroup {
    padding: 7px;
}

.form-group {
    display: grid;
    padding: 7px
}

.submit {
    background-color: #187BCD;
    color: white;
    border-style: hidden;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    float: right;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.control-label {
    padding-bottom:10px;
}

.dropdownForm select{
    font-size: 17px;
    width:178px!important;
}
