

.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}

.custom-card {
    border-radius: 25px;
    border: 2px solid black;
    padding: 50px;
    width: auto;
    height: auto;
}

.card-header {
    text-align: center;
}

.form-group {
    display: grid;
    padding: 7px
}

.submit {
    background-color: #187BCD;
    color: white;
    border-style: hidden;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    float: right;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-control {
    height: 40px;
    border-radius: 8px;
    border: 1.5px solid black;
}

.label {
    font-size: 21px;
}

.actionLink {
    text-decoration: none !important;
    color: #187BCD !important;
}

.actionGroup {
    padding:7px;
}

.confirmationLink {
    border-style: hidden;
    border-radius: 10px;
    width: auto;
    color: white;
    background-color: #187BCD;
    float: right;
    text-decoration: none;
    font-size: 17px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}