body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    padding-top: 20px;
}

#vereinsName {
    color:black;
    font-size:30px;
    margin-bottom: 25px;
}

    .sidenav a, select {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
    }

        .sidenav a:hover, select:hover {
            color: #818181;
        }

    .sidenav select {
        border: none;
        margin-bottom: 70px;
        width: 230px;
    }

.main {
    margin-left: 230px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

#myfooter {
    margin-left: 230px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}


/*Tabellen-Design für alle Seiten*/
/*Table-Design for all pages*/

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.table th, .table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: thin solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid black;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


/*fehlermeldungen hervorheben*/
/*highlight error messages*/
.text-danger {
    color:red;
    display:block !important;
}

/*icons*/
#logoutIcon {
    float:right;
    font-size:30px;
}

.logoutcontainer a {
    text-decoration:none;
    color:black;
    font-size:24px;
    padding-right:12px;
    
}

.logoutcontainer {
    float:right;
    margin-top:-33px;
}

.actionGroup a {
    text-decoration: none !important;
    color: #187BCD !important;
}

/*Aktionslinks in der Tabelle*/
/*ActionLinks in Table*/
.tableActions a {
    text-decoration: none !important;
    color: #187BCD !important;
}
}


