
@{
    ViewBag.Title = "WaitForConfirmation";
    Layout = null;
}
@Styles.Render("~/Content/Login.css")
@Styles.Render("~/Content/Site.css")
<div class="content">
    <div class="custom-card">
        <h1 class="card-header">Bitte warten</h1>
        <h3>Bitte warten Sie, bis der Administrator sie zu ihrem entsprechendem Wettkampf hinzugefügt hat.</h3>
        <h3>Sie bekommen eine E-Mail, wenn Sie sich anmelden können.</h3>

        <div class="actionGroup">
            @Html.ActionLink("Zur Anmeldeseite", "Login", null,
                new { @class = "confirmationLink" })
        </div>

    </div>

</div>
